body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #A5A7AA;
    flex: 0 0 8%;
    padding: 0 350px;
}

header a {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 22px;
}


header a:hover {
    color: #1E90FF;
}

main {
    background-color: #F2F2F2;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
}

main > div {
    width: 49%;
    padding-left: 10%;
}

main > div aside {
    width: 100%;
    padding-top: 25%;
}

footer {
    background-color: #A5A7AA;
    flex: 0 0 13%;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    -bottom: 10px;
}

input, select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: #1E90FF;
}

.negrito {
    font-weight: bold;
}

.social {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.item {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    position: relative;
    text-align: center;
}

.rolagem {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.ClasseDoCarro {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.NomeDoCarro {
    font-size: 22px;
    color: #1E90FF;
}

.RedesSociais {
    text-align: center;
}

#Destaques, #SUV, #Sportback, #Sedan {
    text-align: center;
}

#Formulario {
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px #888888;
    padding-bottom: 80px;
    border-radius: 10px;
    bottom: 10px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 5%;
    margin-top: 6%;
}

#ModelosDisponiveis {
    padding-left: 28%;
    padding-top: 7%;
    padding-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes scaleButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#BotaoForm {
    background-color: #87CEFA;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#BotaoForm:hover {
    background-color: #1E90FF;
    animation: scaleButton 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#NomeDaMarca {
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

#ReserveSeuCarroAqui {
    text-align: center;
    font-size: 20px;
}

#FaleConosco {
    text-align: center;
}

#Novidades {
    text-align: center;
}

#Hr {
    width: 230px;
    border: 1px solid #1E90FF;
    margin-right: 51%;
}

#OrganizarRedesSociais {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0 50px;
    }

    main {
        padding-left: 30px;
    }

    main > div {
        width: 100%;
        padding-left: 0;
    }

    footer {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }

    main > div {
        width: 100%;
        padding-left: 0;
    }

    main > div aside {
        padding-top: 10%;
    }

    footer {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    #NomeDaMarca {
        font-size: 40px;
    }

    #ModelosDisponiveis {
        padding-left: 0;
        text-align: center;
    }

    .carousel-container {
        max-width: 100%;
    }

    .item {
        padding: 0;
    }

    .Rolagem {
        font-size: 30px;
    }

    #Formulario {
        width: 80%;
        margin: 6% auto 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    label {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 0 10px;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }

    main > div {
        width: 100%;
        padding-left: 0;
    }

    main > div aside {
        padding-top: 5%;
    }

    footer {
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
    }

    #NomeDaMarca {
        font-size: 30px;
    }

    #ModelosDisponiveis {
        padding-left: 0;
        text-align: center;
    }

    .carousel-container {
        max-width: 100%;
    }

    .item {
        padding: 0;
    }

    .Rolagem {
        font-size: 20px;
    }

    #Formulario {
        width: 80%;
        margin: 6% auto 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    label {
        margin-top: 5px;
    }
}