body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    text-align: center;
}

header > div {
    width: 100%;
    height: 970px;
    box-sizing: border-box;
}

header > div:hover button {
    color: white;
    background-color: #211E1E;
}

footer {
    background-color: #A5A7AA;
    flex: 0 0 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    padding-bottom: 20px;
    font-size: 18px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    color: #1E90FF;
}

.marcas {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 300px;
}

.botao {
    font-size: 10px;
    letter-spacing: 3px;
    background-color: white;
    border-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    transition: color 2s;
}

.Descrição {
    height: 280px;
    width: 450px;
    flex: 1;
    margin-right: 20px;
    flex-direction: column;
    border-radius: 5px;
}

.negrito {
    font-weight: bold;
}

.RedesSociais {
    text-align: center;
}

.social {
    width: 40px;
    height: 40px;
    display: inline-block;
}

#audi {
    color: rgb(98, 21, 21);
    background-image: url(../Images/FundoAudi.jpg);
}

#bmw {
    color: rgb(0, 0, 0);
    background-image: url(../Images/FundoBMW.jpg);
}

#mercedes {
    color: rgb(255, 255, 255);
    background-image: url(../Images/FundoMercedes.jpg);
}

#audi, #bmw, #mercedes {
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#Main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 150px;
}

#Marca {
    display: flex;
    align-items: center;
}

#Logo {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 35px;
}

#NomeDaMarca {
    font-size: 60px;
    padding-left: 18%;
    padding-top: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#QuemSomos, #Elegância, #Reserve {
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-spacing: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#Novidades {
    text-align: center;
}

@keyframes scaleButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#BotaoForm {
    background-color: #87CEFA;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#BotaoForm:hover {
    background-color: #1E90FF;
    animation: scaleButton 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#FaleConosco {
    text-align: center;
}

#OrganizarRedesSociais {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #audi, #bmw, #mercedes {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .marcas {
        padding-top: 150px;
        font-size: 30px;
    }

    .botao {
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header, #Main {
        display: flex;
        justify-content: space-around;
    }

    .Descrição {
        width: 45%;
    }

    #NomeDaMarca {
        font-size: 40px;
    }

    #Logo {
        height: 40px;
        width: 40px;
    }

    footer {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #audi, #bmw, #mercedes {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .marcas {
        padding-top: 150px;
        font-size: 30px;
    }

    .botao {
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Descrição {
        width: 70%;
    }

    #NomeDaMarca {
        font-size: 30px;
    }

    #Logo {
        height: 30px;
        width: 30px;
    }

    footer {
        padding: 0 20px;
    }

    #BotaoForm {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 767px) {
    #audi, #bmw, #mercedes {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .marcas {
        padding-top: 150px;
        font-size: 30px;
    }

    .botao {
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header, #Main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Descrição {
        width: 90%;
    }

    #NomeDaMarca {
        font-size: 20px;
    }

    #Logo {
        height: 20px;
        width: 20px;
    }

    .marcas {
        font-size: 30px;
        padding-top: 150px;
    }

    .botao {
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        padding: 0 10px;
    }

    #BotaoForm {
        font-size: 12px;
        padding: 6px 10px;
    }
}